src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementationListInventory" doc:id="914600b8-cb94-429b-90bc-68a61f57fa92" >
		<wsc:consume doc:name="Consume" doc:id="2c067cda-3ddf-4de1-8b5a-16af0fcda720" config-ref="Web_Service_Consumer_Config" operation="ListInventory"/>
		<ee:transform doc:name="Transform Message" doc:id="4eccc542-5e0a-44fc-98f0-74ae054f6623" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	inventory: payload.body.ns0#ListInventoryResponse.*inventory map ( inventory , indexOfInventory ) -> {
		productCode: inventory.productCode as String default "",
		size: inventory.size default "",
		description: inventory.description default "",
		count: inventory.count as String default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="12a4617c-8d93-45a4-b00f-e7fadec561c6" >
				<ee:transform doc:name="Transform Message" doc:id="2784fd45-ce25-4ee0-a6cd-2c2c75664893" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationCreateCustomer" doc:id="70c52f11-5b10-4d8c-a418-5feacc8e8528" >
		<ee:transform doc:name="Transform Message" doc:id="8b151496-1b08-48c0-8654-7be332e4a54c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://acme.com/tshirt-service
---
{
	ns0#CreateCustomer: {
		customerId: payload.customerId as Number,
		name: payload.name,
		email: payload.email,
		address: payload.address,
		neighborhood: payload.neighborhood,
		city: payload.city,
		stateOrProvince: payload.stateOrProvince,
		postalCode: payload.postalCode as Number,
		country: payload.country,
		phone: payload.phone as Number,
		title: payload.title,
		company: payload.company
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="CreateCustomer" doc:name="Consume" doc:id="81b20eac-018d-48ee-98a7-06390b5520fb" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="5e9df0be-3338-4fbe-a079-305b56c4c1b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	customerId: payload.body.ns0#CustomerId.customerId default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="609114db-b07b-4cdc-9bbd-9fcad2df4883" >
				<ee:transform doc:name="Transform Message" doc:id="ba57f3aa-0624-4226-9b0d-dbbefb82fa38" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationTrackOrder" doc:id="7314874e-0756-4382-85b5-158d0efd3b54" >
		<ee:transform doc:name="Transform Message" doc:id="fdd71af3-8d81-4b8f-b926-111ee82f8a02" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://acme.com/tshirt-service
---
{
	ns0#TrackOrder: {
		orderId: vars.orderId
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="TrackOrder" doc:name="Consume" doc:id="f42752ee-04f9-421a-b798-da1de0fd9889" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="f8a39520-bc94-48b2-827a-2c6658915179" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	orderId: payload.body.ns0#TrackOrderResponse.orderId default 0,
	status: payload.body.ns0#TrackOrderResponse.status default "",
	productCode: payload.body.ns0#TrackOrderResponse.productCode default 0,
	size: payload.body.ns0#TrackOrderResponse.size default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9f869873-f57f-4740-8c72-72c776572145" >
				<ee:transform doc:name="Transform Message" doc:id="1da957f5-8949-4729-bb99-ee036b7eb3d6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationUpdateCard" doc:id="8d399120-ff60-480b-aad6-5454693d5c21" >
		<ee:transform doc:name="Transform Message" doc:id="e1f1d4f1-7917-43e1-bc6f-4ec8fa35931a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://acme.com/tshirt-service
---
{
	ns0#UpdateCard: {
		cardId: vars.cardId,
		cardNumber: payload.cardNumber as String,
		flag: payload.flag as String,
		dueDate: payload.dueDate
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="UpdateCard" doc:name="Consume" doc:id="8eca4f46-ad6a-49c1-9ba3-d5544e94f5c2" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="65113a36-8a3e-4ee2-aed7-0f33cee6db5d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	cardId: payload.body.ns0#CardId as Number default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="8f5fb7e0-82d1-46be-8343-aaa5c5991630" >
				<ee:transform doc:name="Transform Message" doc:id="990a8776-b7fc-401a-a76d-b9575fe1a8e6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationGetCustomer" doc:id="2c68f86c-3ef0-42ff-a2be-109a9678b45e" >
		<ee:transform doc:name="Transform Message" doc:id="722c9aab-4c9b-4c67-a4d3-d2469595eea4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://acme.com/tshirt-service
---
{
	ns0#CustomerId: {
		customerId: vars.id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetCustomer" doc:name="Consume" doc:id="487cadb3-54b3-4a1b-9d49-71c8cece5c50" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="2ecf9a80-3cdd-475b-bbca-23d0bb83b3ca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	customerId: payload.body.ns0#CreateCustomer.customerId as String,
	name: payload.body.ns0#CreateCustomer.name,
	email: payload.body.ns0#CreateCustomer.email,
	address: payload.body.ns0#CreateCustomer.address,
	neighborhood: payload.body.ns0#CreateCustomer.neighborhood,
	city: payload.body.ns0#CreateCustomer.city,
	stateOrProvince: payload.body.ns0#CreateCustomer.stateOrProvince,
	postalCode: payload.body.ns0#CreateCustomer.postalCode,
	country: payload.body.ns0#CreateCustomer.country,
	phone: payload.body.ns0#CreateCustomer.phone,
	title: payload.body.ns0#CreateCustomer.title,
	company: payload.body.ns0#CreateCustomer.company
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="22d11005-29e6-44d8-ac07-4e279929a8bd" >
				<ee:transform doc:name="Transform Message" doc:id="f7025295-5037-49f0-99ab-f115e9108ea3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationUpdateCustomer" doc:id="7a420ce2-2fa8-4b4f-8777-bc68e2b4bc38" >
		<ee:transform doc:name="Transform Message" doc:id="c8f91c66-f74d-4406-b64d-005cb3f87b6e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://acme.com/tshirt-service
---
{
	ns0#UpdateCustomer: {
		customerId: vars.idCustomer as Number,
		name: payload.name default "",
		email: payload.email default "",
		address: payload.address default "",
		neighborhood: payload.neighborhood default "",
		city: payload.city default "",
		stateOrProvince: payload.stateOrProvince default "",
		postalCode: payload.postalCode default "",
		country: payload.country default "",
		phone: payload.phone default "",
		title: payload.title default "",
		company: payload.company default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="UpdateCustomer" doc:name="Consume" doc:id="89bc3f1d-42dd-4bd9-b4df-20ea9c7eecdf" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="10b04afd-40e0-4f15-808b-077767213abd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	customerId: payload.body.ns0#CustomerId.customerId as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="8818c2c6-bacd-422f-8632-dc588c12a645" >
				<ee:transform doc:name="Transform Message" doc:id="81477567-c105-4849-9764-e7adb9260b27" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationGetCard" doc:id="3936d1eb-5952-47c6-999b-abc90c986e56" >
		<ee:transform doc:name="Transform Message" doc:id="caaec747-e17b-4b94-8021-86456b189cdb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://acme.com/tshirt-service
---
{
	ns0#CardId: {
		cardId: vars.id as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetCard" doc:name="Consume" doc:id="acd2c365-e00b-481e-b21a-adc3f99c7771" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="bd510763-9a16-4ba4-bfb4-363d250732b0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	cardId: payload.body.ns0#CreateCard.cardId,
	cardNumber: payload.body.ns0#CreateCard.cardNumber as Number,
	flag: payload.body.ns0#CreateCard.flag as Number,
	dueDate: payload.body.ns0#CreateCard.dueDate
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="11044bd0-50ec-4b27-96cd-1004455de50f" >
				<ee:transform doc:name="Transform Message" doc:id="96c54b94-5058-4bba-a3f7-a064c84e7ce5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationCreateCard" doc:id="70682bce-b05b-4c0b-92f5-4fc7ea8472e5" >
		<ee:transform doc:name="Transform Message" doc:id="91380965-dc23-4bea-a1be-dbbc2c658b04">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://acme.com/tshirt-service
---
{
	ns0#CreateCard: {
		cardId: payload.cardId,
		cardNumber: payload.cardNumber as String,
		flag: payload.flag as String,
		dueDate: payload.dueDate
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="CreateCard" doc:name="Consume" doc:id="28af3b6f-235c-4bf5-824c-a5b561539fbc" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="29898025-04ab-4455-b89b-c256af100663" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	cardId: payload.body.ns0#CardId.cardId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b8f0197d-ccc3-44c7-94f7-48f4d9a1e99c" >
				<ee:transform doc:name="Transform Message" doc:id="86d675f3-ceff-458e-a9b7-58fee5cf4459" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="implementationOrderTShirt" doc:id="2d3cbf6e-c1b5-44d8-af4c-57e4df9fff1d" >
		<ee:transform doc:name="Transform Message" doc:id="795831f2-e6d4-480c-b011-4f3f3442d942" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://acme.com/tshirt-service
---
{
	ns0#OrderTshirt: {
		size: payload.size default "",
		productCode: payload.productCode default 0,
		email: payload.email default "",
		name: payload.name default "",
		address1: payload.address1 default "",
		address2: payload.address2 default "",
		city: payload.city,
		stateOrProvince: payload.stateOrProvince,
		postalCode: payload.postalCode as String,
		country: payload.country
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="OrderTshirt" doc:name="Consume" doc:id="27a3d8f1-63e9-4a92-91d2-06f73df4fabb" config-ref="Web_Service_Consumer_Config" />
		<ee:transform doc:name="Transform Message" doc:id="7bc79547-52b8-46bb-85e3-4ef5b63f2741" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://acme.com/tshirt-service
---
{
	orderId: payload.body.ns0#OrderTshirtResponse.orderId default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d3447f75-05ba-4e14-b48d-8994873d3505" >
				<ee:transform doc:name="Transform Message" doc:id="6edd6e5c-9533-4935-b021-fe5cdf6d2c20" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
